@model IEnumerable<Armadillo.Models.Campo>

@{
    ViewData["Title"] = "Campos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card">
    <div class="card-header">
        Hojas
    </div>
    <div class="card-body">
        <p>
            <a asp-action="Create" class="btn btn-primary">Nuevo campo</a>
        </p>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Indice)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Tipo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Hoja)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Calculo)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Indice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tipo.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Hoja.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Calculo)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Detalle</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


