@model IEnumerable<Armadillo.Models.Campo>

@{
    ViewData["Title"] = "Llenar Hoja";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">

        <div class="row">
            <div class="col-md-10">
                Nuevo Registro para hoja: <b>@ViewBag.Hoja.Nombre</b>, del Programa: <b>@ViewBag.Hoja.Programa.Nombre</b>
            </div>
            <div class="col-md-2">
                <div class="d-flex flex-row-reverse">
                    <a href="@Url.ActionLink("MostrarDatos","Datos",new{idHoja=ViewBag.idHoja, idHojaForanea = ViewBag.idHojaForanea, noFilaForanea=ViewBag.noFilaForanea})" class="btn btn-primary p-2" data-toggle="tooltip" data-placement="bottom" title="Regresar al detalle">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-table" viewBox="0 0 16 16">
                            <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>

    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                @foreach (var item in Model)
                {
                    <div class="form-group contenido">
                        @{
                            var tipo = "";
                        }
                        @if (item.IdTipo == 2 || item.IdTipo == 3 || item.IdTipo == 5)/*entero,decimal o cálculo*/
                        {
                            tipo = "number";
                        }
                        else
                        {
                            if (item.IdTipo == 4)/*fecha*/
                            {
                                tipo = "date";
                            }
                            else
                            {
                                if (item.IdTipo == 1)/*texto*/
                                {
                                    tipo = "text";
                                }
                                else
                                {/*Es otra hoja enlazada*/
                                    if (item.IdTipo == 6)
                                    {
                                        tipo = "Lista";
                                    }
                                    if (item.IdTipo == 7)
                                    {
                                        tipo = "Detalle";
                                    }
                                    if (item.IdTipo == 8)
                                    {
                                        tipo = "Foraneo";
                                    }
                                }
                            }
                        }

                        @if (tipo == "Lista")
                        {
                            <p></p>
                            <p>Lista de: @item.Nombre </p>
                        }
                        else
                        {
                            if (tipo == "Detalle")
                            {
                                <p></p>
                                <p>Detalle </p>
                                <input type="hidden" id="@item.Nombre" name="@item.Nombre" value="@ViewBag.idHojaForanea,@ViewBag.noFilaForanea">
                                <input type="hidden" class="Calculo_Detalle" value="@item.Calculo">
                                <button type="button" id="AbrirCatalogo" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Catalogo">
                                  Cargar Hoja
                                </button>

                            }else
                            {
                                if (tipo == "Foraneo")
                                {
                                    <p></p>
                                    <p>Campo Foráneo: @item.Nombre </p>
                                    
                                }
                                else
                                {
                                    <label for="@item.Nombre" class="control-label">@item.Nombre</label>
                                    <input type="@tipo" id="@item.Nombre" name="@item.Nombre" class="form-control" />
                                }
                            }
                        }
                        <input type="hidden" name="idCampo" value="@item.Id">
                    </div>
                }
                <div class="form-group">
                    <p></p>
                    <input type="button" class="btn btn-primary" value="Guardar" id="Guardar" />
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="Catalogo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Busque y seleccione</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="MostrarCatalogo">
                
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $("#Guardar").click(function(){
              var filas=[];
              $("div.contenido").each(function(index){
                var campo={};
                campo["idCampo"] = $(this).find("input[name='idCampo']").val();
                campo["nombre"] = $(this).find("input").attr("name");
                campo["valor"] = $(this).find("input").val();
                filas.push(campo);
              });
              var procesado=JSON.stringify(filas);
            $.post("@Url.Action("GuardarValoresHoja","Datos")", procesado
              ,function(respuesta){

              });
        });

    </script>
}

