@model IEnumerable<Armadillo.Models.Campo>

@{
    ViewData["Title"] = "LlenarHoja";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>LlenarHoja</h1>

<div class="row">
    <div class="col-md-4">
            @foreach (var item in Model) {
                <div class="form-group contenido">
                    <label for="@item.Nombre" class="control-label">@item.Nombre</label>
                    @{
                        var tipo = "";
                    }
                    @if (item.IdTipo == 2 || item.IdTipo == 3 || item.IdTipo==5)/*entero,decimal o cálculo*/
                    {
                        tipo = "number";
                    }
                    else
                    {
                        if (item.IdTipo == 4)/*fecha*/
                        {
                            tipo = "date";
                        }
                        else
                        {
                            if (item.IdTipo == 1)/*texto*/
                            {
                                tipo = "text";
                            }
                            else
                            {
                                tipo = "list";/*Es otra hoja enlazada*/
                            }
                        }
                    }
                    @if (tipo == "list")
                    {
                        @item.Nombre/*Debo proveer de un select más adelante*/
                    }else
                    {
                        <input type="@tipo" id="@item.Nombre" name="@item.Nombre" class="form-control" />
                    }
                    <input type="hidden" name="idCampo" value="@item.Id">
                </div>
            }
            <div class="form-group">
                <p></p>
                <input type="button" class="form-control" value="Guardar" id="Guardar" />
            </div>
    </div>
</div>
@section Scripts {
    <script>

        $("#Guardar").click(function(){
              var filas=[];
              $("div.contenido").each(function(index){
                var campo={};
                campo["idCampo"] = $(this).find("input[name='idCampo']").val();
                campo["nombre"] = $(this).find("input").attr("name");
                campo["valor"] = $(this).find("input").val();
                filas.push(campo);
              });
              console.log(filas);
              var procesado=JSON.stringify(filas);
            $.post("@Url.Action("GuardarValoresHoja","Datos")", procesado
              ,function(respuesta){
                console.log(respuesta);
              });
        });
        
    </script>
}

