@using Armadillo.Models.ModelViews;
@model Armadillo.Models.ModelViews.Contenido

@{
    ViewData["Title"] = "MostrarDatos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Registros de Hoja: <b>@Model.NombreHoja</b> de Programa: <b>@Model.NombrePrograma</b>
    </div>
    <div class="card-body">
        @if (ViewBag.IdHojaForanea > 0)
        {

            <span>Contenido Padre</span>

            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        @foreach (var campo in ViewBag.ContenidoForanea.Campos)
                        {
                            <th>
                                @campo
                            </th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i <=ViewBag.ContenidoForanea.Cantidadfila; i++)
                    {
                        <tr>
                            @foreach (var dato in ((Contenido)ViewBag.ContenidoForanea).Datos.Where(d => d.NoFila == i))
                            {
                                <td>
                                    @dato.Valor
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
            <hr />
            <span>Contenido Detalle</span>
            <p>
                <a href="@Url.ActionLink("LlenarHoja","Datos",new{idHoja=ViewBag.idHoja,idHojaForanea=ViewBag.idHojaForanea,noFilaForanea=ViewBag.noFilaForanea})" class="btn btn-primary">Nuevo registro detalle</a>
            </p>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        @foreach (var campo in Model.Campos)
                        {
                            <th>
                                @campo
                            </th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i <= Model.Cantidadfila; i++)
                    {
                        <tr>
                            @foreach (var dato in Model.Datos.Where(d => d.NoFila == i))
                            {
                                <td>
                                    @dato.Valor
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        }else
        {
            <p>
                <a href="@Url.ActionLink("LlenarHoja","Datos",new{idHoja=Model.idHoja})" class="btn btn-primary">Nuevo registro</a>
            </p>

            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        @foreach (var campo in Model.Campos)
                        {
                            <th>
                                @campo
                            </th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i <= Model.Cantidadfila; i++)
                    {
                        <tr>
                            @foreach (var dato in Model.Datos.Where(d => d.NoFila == i))
                            {
                                if (dato.Campo.IdTipo == 6)
                                {
                                    <td>
                                        <a href="@Url.Action("MostrarDatos","Datos",new{idHoja=dato.Campo.Calculo,idHojaForanea=dato.Campo.IdHoja,noFilaForanea=dato.NoFila})">@dato.Campo.Nombre</a>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        @dato.Valor
                                    </td>
                                }
                            }
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>