@model IEnumerable<Armadillo.Models.Hoja>

@{
    ViewData["Title"] = "Hojas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <div class="card-header">
        Hojas de <b>@Model.FirstOrDefault().Programa.Nombre</b>
    </div>
    <div class="card-body">
        <p>
            <a href="@Url.ActionLink("Create","Hojas",new{idPrograma=Model.FirstOrDefault().IdPrograma})" class="btn btn-primary">Nueva hoja</a>
        </p>

        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-sm-3">
                    <div class="card">
                        <img src="~/images/hoja-Armadillo.jpg" class="card-img-top" alt="Programa">
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Nombre)</h5>
                            <p class="card-text">@Html.DisplayFor(modelItem => item.Descripcion)</p>
                            <a href="@Url.ActionLink("Index","Campos",new{idHoja=item.Id})" class="btn btn-primary">Configurar</a>
                            <a href="@Url.ActionLink("MostrarDatos","Datos",new{idHoja=item.Id})" class="btn btn-primary">Abrir</a>
                        </div>
                    </div>
                </div>
            }

        </div>

    </div>
</div>
